<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Alaa\TableQuery\Model\QueryInterface" type="Alaa\TableQuery\Model\Query" />
    <preference for="Alaa\TableQuery\Model\IteratorInterface" type="Alaa\TableQuery\Model\Iterator" />
</config>